body {
    
}

h1, h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 35px;
}

 table {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid;
    text-align: left;
    width: 750px; 
    margin-left: auto;
    margin-right: auto; 
    vertical-align: middle;
}

th {
    font-size: 22px;
    background-color: darkslateblue;
    color: floralwhite;
    padding-left: 10px;
    height: 30px;
}

.tag {
    width: 160px;
}

td {
    border-top: 1px solid;
    height: 35px;
    padding-right: 10px;
    padding-left: 10px;
}



