body {
    
}

h1, h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 60px;
    color: royalblue;
}

h2 {
    font-size: 35px;
    color: midnightblue;
}

 table {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid;
    text-align: left;
    width: 750px; 
    margin: 0px auto 0px auto;
    vertical-align: middle;
    background-color: aliceblue;
    border-radius: 10px;
}

th {
    font-size: 22px;
    background-color: darkslateblue;
    color: floralwhite;
    padding-left: 10px;
    height: 30px;
}

td {
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    height: 35px;
    padding-right: 10px;
    padding-left: 10px;
}

.symbol {
    width: 160px;
    color: darkslateblue;
    font-weight: bolder;   
}

#tags {
    padding: 20px 0px 90px 0px;
    background-color: rgba(245, 222, 179, 0.6);
    width: 1000px;
    border-radius: 20px;
    margin: 0px auto 60px auto
}

#attributes {
    padding: 20px 0px 90px 0px;
    background-color: rgba(245, 222, 179, 0.6);
    margin: ;
    border-radius: 20px;
    width: 1000px;
    margin: 60px auto 0px auto
}




